* {
	margin: 0px; 
	padding: 0px;
	font-family: sans-serif;
	height: 100%;
	color: green;
	background-color: black;
}

body {
	height: 100%;
	margin: 0%;
}

.main {
	border: 1px solid black;
	width: 100%;
	position: fixed;
}

#window {
	padding: 1% 1% 1% 1%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 20px;
	overflow: scroll;
	height: auto;
}

#window::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.output {
	display: block;
	margin: 5px 0 5px 0;
	width: 100%;
	height: auto;
	position: static;
}

#bottom {
	height: 19px;
	position: absolute;
	bottom: 1px;
	border: 1px solid green;
	border-radius: 10px;
	width: calc(98% - 4px);
	padding: 1%;
}

#input {
	width: 98%;
	border: 0px;
	margin: auto;
	appearance: none;
}

#input:focus {
	outline: none;
}